.alert {
  max-width: 6.7rem;
}

@include alert('primary', $primary);
@include alert('secondary', $secondary);
@include alert('success', $success);
@include alert('info', $info);
@include alert('warning', $warning);
@include alert('danger', $danger);
@include alert('light', $light);
@include alert('dark', $dark);

.alert-dismissible {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .btn-close {
    color: $white;
    background: transparent
      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
      center/1em auto no-repeat;
    opacity: 1;
    width: 0.5rem;
    height: 0.05rem;
    padding: 1rem 0.8rem;
    top: 50%;
    transform: scale(0.8) translateY(-65%);
    right: 0.5rem;
    border-width: 0.25rem !important;
  }
}
